.link {
  color: var(--text-dark-grey-secondary-text, #8585ad);
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: calc(var(--offset-base-size) * 2);
}
.link_active {
  color: var(--text-primary-light-standart-text, #f2f2f3);
}
