.tabs {
    display: flex;
    flex-direction: column;
    width: 320px;
}
.tab_active {
    color: var(--text-primary-light-standart-text, #F2F2F3);
    text-decoration: none;
}
.tab {
    text-decoration: none;
    width: 320px;
}