.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 536px;
    background: var(--interface-modal-bg, #1C1C21);
    border-radius: 40px;
    transition: opacity 0.3s ease-in-out;
}
.profileCard {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 796px;
    background: var(--interface-modal-bg, #1C1C21);
    border-radius: 40px;
    transition: opacity 0.3s ease-in-out;
}
.profileCard:hover {
    opacity: 0.6;
    cursor: pointer;
}
.card:hover {
    opacity: 0.6;
    cursor: pointer;
}
.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: flex;
    gap: 8px;
}

.ingredients {
    list-style-type: none;
    padding: 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
}
.status {
    margin-top: -16px;
}

.done {
    margin-top: -16px;
    color: var(--interface-success, #0cc);
}