.section {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.text {
  min-height: 639px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  min-height: 639px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  overflow-y: scroll;
  max-height: calc(100vh - 324px);
  gap: calc(var(--offset-base-size) * 4);
}

.draggingText {
  composes: text;
  outline: solid 2px rgba(211, 211, 211, 0.527);
  border-radius: 5px;
}

.draggingList {
  composes: list;
  outline: solid 2px rgba(211, 211, 211, 0.527);
  border-radius: 5px;
}

.orderPrice {
  display: flex;
  align-items: center;
  gap: calc(var(--offset-base-size) * 2);
}

.element {
  display: flex;
  gap: calc(var(--offset-base-size) * 2);
  align-items: center;
}
.opacity {
  display: none;
}
.bottom{
  display: flex;
  align-content: flex-end;
  align-items: center;
  gap: calc(var(--offset-base-size) * 10);
  justify-content: flex-end;
}